### Исходные данные

Данные о конференциях TED: данные выступлений, справочник конференций, справочник авторов выступления.

### Задача

Исследовать историю TED-конференций с помощью Tableau.

### План исследования:

1. Изучим состав и типы данных.
2. Изучим, как количество конференций распределено по времени. Определим год, после которого количество выступлений скачкообразно выросло.
3. Рассмотрим  процент выступлений в каждой из стран.
4. Рассмотрим выступления по годам» с визуализацией.
5. Построим визуализацию процента выступлений по тематикам.
6. Создадим дашборд «История выступлений».
7. Создадим дашборд «Тематики выступлений», узнаем: 
    - Какие категории выступлений наиболее популярны
    - Различается ли распределение популярных категорий в разных странах? 
    - Какие категории чаще вызывают аплодисменты аудитории, а какие реже? Какому выступлению аплодировали больше остальных?
    - Какие категории чаще вызывают смех аудитории, а какие реже? Какое выступление оказалось самым смешным?
    - Есть ли зависимость между длительностью выступления и количеством просмотров? Какое выступление посмотрели чаще всего? Какое выступление длилось дольше всех?
8. Создадим дашборд «Авторы выступлений» и узнаем:
    - Какие области деятельности у авторов преобладают?
    - Сколько выступлений обычно приходится на одного автора? Кто выступал чаще всего?
    - Какой дизайнер (Designer) выступал чаще остальных? Какое выступление этого автора смотрели меньше всего?
9. Разделим конференции на категории.
10. Выясним как менялась популярность этих категорий со временем.
11. Подготовим презентацию.

Изучим состав и тип данных тут, а дальше перейдем в tableau

In [3]:
import pandas as pd

In [16]:
try:
    tableau_project_data_1 = pd.read_csv('tableau_project_data_1.csv')
    tableau_project_data_2 = pd.read_csv('tableau_project_data_2.csv')
    tableau_project_data_3 = pd.read_csv('tableau_project_data_3.csv')
    tableau_project_event_dict = pd.read_csv('tableau_project_event_dict.csv')
    tableau_project_speakers_dict = pd.read_csv('tableau_project_speakers_dict.csv')
    
except:
    tableau_project_data_1 = pd.read_csv('https://code.s3.yandex.net/data-analyst/Tableu/tableau_project_data_1.csv')
    tableau_project_data_2 = pd.read_csv('https://code.s3.yandex.net/data-analyst/Tableu/tableau_project_data_2.csv')
    tableau_project_data_3 = pd.read_csv('https://code.s3.yandex.net/data-analyst/Tableu/tableau_project_data_3.csv')
    tableau_project_event_dict = pd.read_csv('https://code.s3.yandex.net/data-analyst/Tableu/tableau_project_event_dict.csv')
    tableau_project_speakers_dict = pd.read_csv('https://code.s3.yandex.net/data-analyst/Tableu/tableau_project_speakers_dict.csv')

In [6]:
tableau_project_data_1.head()

,talk_id,url,title,description,film_date,duration,views,main_tag,speaker_id,laughter_count,applause_count,language,event_id
0,84216,https://www.ted.com/talks/christina_costa_how_...,How gratitude rewires your brain,When a psychologist who studies well-being end...,2021-03-27,600,718724,health,6625,0.0,0.0,English,309
1,66033,https://www.ted.com/talks/caitlin_holman_how_g...,How game design can help schooling,The world is changing rapidly but models of de...,2017-02-08,1043,46441,education,53443,NaN,NaN,English,309
2,21933,https://www.ted.com/talks/terri_conley_we_need...,We need to rethink casual sex,Social psychologist and sex researcher Terri C...,2016-04-01,1091,273438,society,5107,0.0,0.0,English,309
3,2022,https://www.ted.com/talks/anne_curzan_what_mak...,"What makes a word ""real""?","One could argue that slang words like ‘hangry,...",2014-03-15,1033,2031550,culture,1938,12.0,4.0,English,309
4,83538,https://www.ted.com/talks/jane_walsh_the_rise_...,The rise of predatory scams -- and how to prev...,"Questionable phone calls, concerning emails, h...",2021-06-26,833,802109,technology,6606,0.0,0.0,English,233

In [7]:
tableau_project_data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   talk_id         1152 non-null   int64
 1   url             1152 non-null   object
 2   title           1152 non-null   object
 3   description     1152 non-null   object
 4   film_date       1152 non-null   object
 5   duration        1152 non-null   int64
 6   views           1152 non-null   int64
 7   main_tag        1151 non-null   object
 8   speaker_id      1152 non-null   int64
 9   laughter_count  1003 non-null   float64
 10  applause_count  1003 non-null   float64
 11  language        1152 non-null   object
 12  event_id        1152 non-null   int64
dtypes: float64(2), int64(5), object(6)
memory usage: 117.1+ KB

In [9]:
tableau_project_data_2.head()

,talk_id,url,title,description,film_date,duration,views,main_tag,speaker_id,laughter_count,applause_count,language,event_id
0,21936,https://www.ted.com/talks/leila_seth_why_i_def...,Why I defend women's inheritance rights,During her stint on the Law Commission of Indi...,2015-05-29,956,707770,social change,20191,6.0,6.0,English,194
1,2483,https://www.ted.com/talks/aditi_gupta_a_taboo_...,A taboo-free way to talk about periods,It's true: talking about menstruation makes ma...,2015-05-29,670,1828032,education,2959,5.0,6.0,English,194
2,19995,https://www.ted.com/talks/boy_girl_banjo_dead_...,"""Dead Romance""",Acoustic duo Anielle Reid and Matthew Brookshi...,2017-11-16,222,312226,performance,3757,0.0,0.0,English,97
3,12571,https://www.ted.com/talks/drew_philp_my_500_ho...,My $500 house in Detroit -- and the neighbors ...,"In 2009, journalist and screenwriter Drew Phil...",2017-11-16,823,1384861,culture,3763,1.0,1.0,English,97
4,13000,https://www.ted.com/talks/andrew_dent_to_elimi...,"To eliminate waste, we need to rediscover thrift",There's no such thing as throwing something aw...,2017-11-16,634,1451874,technology,3761,0.0,1.0,English,97

In [10]:
tableau_project_data_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   talk_id         1152 non-null   int64
 1   url             1152 non-null   object
 2   title           1152 non-null   object
 3   description     1152 non-null   object
 4   film_date       1152 non-null   object
 5   duration        1152 non-null   int64
 6   views           1152 non-null   int64
 7   main_tag        1151 non-null   object
 8   speaker_id      1152 non-null   int64
 9   laughter_count  1013 non-null   float64
 10  applause_count  1013 non-null   float64
 11  language        1152 non-null   object
 12  event_id        1152 non-null   int64
dtypes: float64(2), int64(5), object(6)
memory usage: 117.1+ KB

In [11]:
tableau_project_data_3.head()

,talk_id,url,title,description,film_date,duration,views,main_tag,speaker_id,laughter_count,applause_count,language,event_id
0,1841,https://www.ted.com/talks/andrew_fitzgerald_ad...,Adventures in Twitter fiction,"In the 1930s, broadcast radio introduced an en...",2013-07-15,715,1049942,technology,1689,1.0,1.0,English,112
1,1817,https://www.ted.com/talks/jake_barton_the_muse...,The museum of you,A third of the world watched live as the World...,2013-05-16,938,831812,design,1679,1.0,1.0,English,112
2,1776,https://www.ted.com/talks/bob_mankoff_anatomy_...,Anatomy of a New Yorker cartoon,"The New Yorker receives around 1,000 cartoons ...",2013-05-16,1259,1392017,design,1660,27.0,2.0,English,112
3,1743,https://www.ted.com/talks/jay_silver_hack_a_ba...,"Hack a banana, make a keyboard!",Why can't two slices of pizza be used as a sli...,2013-04-24,795,1474788,technology,1650,5.0,3.0,English,112
4,1752,https://www.ted.com/talks/paola_antonelli_why_...,Why I brought Pac-Man to MoMA,When the Museum of Modern Art's senior curator...,2013-05-16,1122,1023829,design,148,8.0,2.0,English,112

In [12]:
tableau_project_data_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152 entries, 0 to 1151
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   talk_id         1152 non-null   int64
 1   url             1152 non-null   object
 2   title           1152 non-null   object
 3   description     1152 non-null   object
 4   film_date       1152 non-null   object
 5   duration        1152 non-null   int64
 6   views           1152 non-null   int64
 7   main_tag        1152 non-null   object
 8   speaker_id      1152 non-null   int64
 9   laughter_count  1123 non-null   float64
 10  applause_count  1123 non-null   float64
 11  language        1152 non-null   object
 12  event_id        1152 non-null   int64
dtypes: float64(2), int64(5), object(6)
memory usage: 117.1+ KB

Файлы tableau_project_data_1.csv, tableau_project_data_2.csv, tableau_project_data_3.csv хранят данные выступлений. У них одинаковая структура:
- talk_id — идентификатор выступления (целое число);
- url — ссылка на запись выступления(строка);
- title — название выступления (строка);
- description — краткое описание (строка);
- film_date — дата записи выступления(строка);
- duration — длительность в секундах(целое число);
- views — количество просмотров(целое число);
- main_tag — основная категория, к которой относится выступление (строка);
- speaker_id — уникальный идентификатор автора выступления(целое число);
- laughter_count — количество раз, когда аудитория смеялась в ходе выступления(число с плавающей точкой);
- applause_count — количество раз, когда аудитория аплодировала в ходе выступления(число с плавающей точкой);
- language — язык, на котором велось выступление(строка);
- event_id — уникальный идентификатор конференции(целое число).

In [15]:
tableau_project_event_dict.head()

   conf_id                        event        country
0        0           Arbejdsglaede Live  United States
1        1  Business Innovation Factory  United States
2        2       Chautauqua Institution  United States
3        3                     DLD 2007  United States
4        4                      EG 2007  United States

In [14]:
tableau_project_event_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 327 entries, 0 to 326
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   conf_id  327 non-null    int64
 1   event    327 non-null    object
 2   country  327 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.8+ KB

Файл tableau_project_event_dict.csv — справочник конференций. Описание таблицы:
- conf_id — уникальный идентификатор конференции (целое число);
- event — название конференции (строка);
- country — страна проведения конференции (строка).

In [17]:
tableau_project_speakers_dict.head()

,author_id,speaker_name,speaker_occupation,speaker_description
0,2,Al Gore,Climate advocate,Nobel Laureate Al Gore focused the world's att...
1,3,Amy Smith,inventor,"Amy Smith designs cheap, practical fixes for t..."
2,4,Ashraf Ghani,President of Afghanistan,Afghanistan's president Ashraf Ghani has initi...
3,5,Burt Rutan,Aircraft engineer,"In 2004, legendary spacecraft designer Burt Ru..."
4,6,Chris Bangle,Car designer,Car design is a ubiquitous but often overlooke...

In [18]:
tableau_project_speakers_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2971 entries, 0 to 2970
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   author_id            2971 non-null   int64
 1   speaker_name         2971 non-null   object
 2   speaker_occupation   2971 non-null   object
 3   speaker_description  2958 non-null   object
dtypes: int64(1), object(3)
memory usage: 93.0+ KB

Файл tableau_project_speakers_dict.csv — справочник авторов выступления. Описание таблицы:
- author_id — уникальный идентификатор автора выступления (целое число);
- speaker_name — имя автора(строка);
- speaker_occupation — профессиональная область автора(строка);
- speaker_description — описание профессиональной деятельности автора(строка).

### Презентация

https://public.tableau.com/app/profile/anastasia.lyugaeva/viz/_17193458569930/sheet23?publish=yes

### Основные выводы

- Больше всего выстпулений проходило в США, чуть больше половины от всех выступлений.
- К топ 5 самым популряным тематикам выстпулений относятся: global issues, society, culture, technology, science.
- К 2020 году колиечество выстпулений в топ-5 тем значительно уменьшилось, к 2021 году осталось по одному или вовсе не осталось выступлений с данными темами.
- Наиболее популряны выстпуления на темы science, technology, culture.
- Распределение категорий различается по странам. В Канаде выступления по теме science и technology популрянее, чем в США и UK. В Великобритании выстпуления на тему culture, business и design популярнее, чем США и Канаде.
- Аплодисменты чаще всего бывают в выступлениях по теме art и social change. Самые долгие аплодисменты были у выступления The political progress women have made -- and what's next по теме social change.
- Чаще всего смех у аудитории вызывают выступления по темам art и design. Самым смешным оказалось выступлеие A Saudi, an Indian and an Iranian walk into a Qatari bar из категории culture
- Между длительностью выступления и количеством просмотров зависимости нет.
- Больше всего просмотров (63 588 711) у выступления Your body language may shape who you are. Дольше всего (почти 63 минуты) длится выступление 3 secrets to Netflix's success.
- Наиболее популряные области деятельности у авторов: writer, artist, enterprenuer, journalist.
- На одного автора приходится от 1 до 8 выступлений, больше всего авторов с 1 выступлением. Автор, который выступал чаще всего - Hans Rosling, на его счету 8 выступлений.
- Чаще всего из дизайнеров выступал Tom Wujec, меньше всего из его выступлений смотрели Learn to use the 13th-century astrolabe.
- Конференции можно разбить на категории по названиям, самые попудярные конференции Tedx
- К 2019 году популярность всех категорий падает, конференции группы Tedx популрянее всех остальных на протяжении всего наблюдения, количество конференций в данной группе в разы больше, чем в остальных.